:root {
  --primary: #06518E;
  --secondary: #2F96D0;
  --ternary: #5FCBEC;
  --light: #CCEBF6;
  --light-secondary: #E5F5FA;
  --hover_blue:#EEF8FC;
  --text: #000000;
  --border: #C4C4C4;
  --white: #ffffff;
  --light_blue: #CCEBF6;
  --divider-line:#C4C4C4;
  --radio_color:#A1A1A1;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* heavy  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Heavyweight.eot");
  src: local("../fonts/Champion Gothic Heavyweight"), local("ChampionGothic-Heavyweight"), url("../fonts/ChampionGothic-Heavyweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Heavyweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Heavyweight.woff") format("woff"), url("../fonts/ChampionGothic-Heavyweight.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  /* normal - 400  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Middleweight.eot");
  src: local("../fonts/Champion Gothic Middleweight"), local("ChampionGothic-Middleweight"), url("../fonts/ChampionGothic-Middleweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Middleweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Middleweight.woff") format("woff"), url("../fonts/ChampionGothic-Middleweight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* titles  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Lightweight.eot");
  src: local("../fonts/Champion Gothic Lightweight"), local("ChampionGothic-Lightweight"), url("../fonts/ChampionGothic-Lightweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Lightweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Lightweight.woff") format("woff"), url("../fonts/ChampionGothic-Lightweight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.meet-faces-cover {
  text-align: center;
}
.meet-faces-cover .btn-otr {
  margin-top: 50px;
}
.meet-faces-cover .box-flex {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
  justify-content: center;
}
.meet-faces-cover .box-flex .meet-faces .face-box {
  width: 243px;
  height: 243px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
}
.meet-faces-cover .box-flex .name-rol {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.meet-faces-cover .box-flex .name-rol strong {
  color: var(--primary);
  font-size: 18px;
  font-weight: 700;
}
.meet-faces-cover .box-flex .name-rol small {
  color: var(--text);
  font-size: 16px;
}

.list-area-large {
  padding: 0 15px;
}
.list-area-large .cont-head {
  text-align: center;
}
.list-area-large .cont-head strong {
  color: var(--secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.list-area-large .list-items-lg {
  list-style-type: none;
  counter-reset: my-awesome-counter;
  margin-left: 0;
  padding-left: 0;
}
.list-area-large .list-items-lg li {
  counter-increment: my-awesome-counter;
  display: flex;
  text-align: left;
  -moz-column-gap: 50px;
       column-gap: 50px;
  position: relative;
  border-bottom: 1px solid #A1A1A1;
  padding-bottom: 40px;
  margin-top: 40px;
  align-items: flex-start;
}
.list-area-large .list-items-lg li:last-child {
  border-bottom: 0;
}
.list-area-large .list-items-lg li::before {
  content: counter(my-awesome-counter) " ";
  color: var(--ternary);
  font-family: "ChampionGothic", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 325;
  position: absolute;
  top: -21px;
  left: -2px;
}
.list-area-large .list-items-lg li .article-list-atrea {
  padding-left: 65px;
  flex-shrink: 1;
  flex: 0 0 auto;
  flex-shrink: 0;
  width: 55%;
}
.list-area-large .list-items-lg li .article-list-atrea .title-li {
  color: var(--primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  font-family: "Gotham", sans-serif;
  margin-bottom: 10px;
}
.list-area-large .list-items-lg li .article-list-atrea .para-li {
  font-size: 16px;
}
.list-area-large .list-items-lg li .light-cont {
  background: var(--light-secondary);
  border-radius: 10px;
  padding: 20px 30px;
}
.list-area-large .list-items-lg li .light-cont .small {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  margin-bottom: 8px;
}

@media (max-width: 1679px) {
  .content-main {
    margin-top: 50px !important;
  }
  .content-main .image-wrap {
    max-width: 450px;
  }
  .list-area-large .list-items-lg li .article-list-atrea {
    padding-left: 45px;
  }
  .list-area-large .list-items-lg li .article-list-atrea .para-li {
    font-size: 14px;
  }
  .list-area-large .list-items-lg li .article-list-atrea .title-li {
    font-size: 20px;
    line-height: 23px;
  }
  .list-area-large .list-items-lg li {
    padding-bottom: 30px;
    margin-top: 30px;
  }
  .list-area-large .list-items-lg li::before {
    font-size: 70px;
  }
  .list-area-large .list-items-lg li .light-cont {
    padding: 20px;
  }
  .meet-faces-cover .box-flex .name-rol {
    margin-top: 15px;
  }
  .meet-faces-cover .box-flex .name-rol strong {
    font-size: 15px;
  }
  .meet-faces-cover .box-flex .meet-faces .face-box {
    width: 200px;
    height: 200px;
  }
  .meet-faces-cover .btn-otr {
    margin-top: 30px;
  }
}
@media (max-width: 1199px) {
  .meet-faces-cover .box-flex .meet-faces .face-box {
    width: 180px;
    height: 180px;
  }
  .meet-faces-cover .box-flex {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .list-area-large .list-items-lg li::before {
    font-size: 50px;
    top: -15px;
  }
  .list-area-large .list-items-lg li .article-list-atrea {
    padding-left: 30px;
  }
}
@media (max-width: 1023px) {
  .list-area-large .list-items-lg li .article-list-atrea {
    width: 50%;
  }
  .meet-faces-cover .box-flex .name-rol strong {
    line-height: 1;
  }
}
@media (max-width: 991px) {
  .list-area-large .list-items-lg li .article-list-atrea .title-li {
    font-size: 16px;
    line-height: 20px;
  }
  .meet-faces-cover .box-flex .meet-faces .face-box {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 767px) {
  .list-area-large .list-items-lg li {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .meet-faces-cover .title-lg {
    margin-bottom: 45px !important;
  }
  .meet-faces-cover .btn-otr {
    margin-top: 0;
    margin-bottom: 45px;
  }
  .meet-faces {
    margin-bottom: 50px;
  }
  .meet-faces-cover .box-flex {
    flex-direction: column;
  }
  .meet-faces-cover .box-flex .meet-faces .face-box {
    width: 240px;
    height: 240px;
  }
  .list-area-large .list-items-lg {
    padding-left: 15px;
  }
  .list-area-large .list-items-lg li {
    flex-direction: column;
  }
  .list-area-large .list-items-lg li .light-cont {
    margin-left: 40px;
    margin-top: 25px;
  }
  .list-area-large .list-items-lg li .article-list-atrea {
    width: 100%;
  }
}
@media (max-width: 579px) {
  .list-area-large .list-items-lg li::before {
    font-size: 60px;
    top: -23px;
  }
  .list-area-large .list-items-lg li .article-list-atrea {
    padding-left: 40px;
  }
  .list-area-large .list-items-lg {
    padding-left: 10px;
  }
  .meet-faces-cover .title-lg {
    margin-bottom: 35px !important;
  }
  .meet-faces-cover .box-flex .meet-faces .face-box {
    width: 180px;
    height: 180px;
  }
  .list-area-large .list-items-lg li:last-child {
    padding-bottom: 0;
  }
}