:root {
  --primary: #227eca;
  --secondary: #2F96D0;
  --ternary: #5FCBEC;
  --light: #CCEBF6;
  --light-secondary: #E5F5FA;
  --text: #000000;
  --border: #C4C4C4;
  --white: #ffffff;
  --light_blue: #CCEBF6;
  --divider-line:#C4C4C4;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* heavy  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Heavyweight.eot");
  src: local("../fonts/Champion Gothic Heavyweight"), local("ChampionGothic-Heavyweight"), url("../fonts/ChampionGothic-Heavyweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Heavyweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Heavyweight.woff") format("woff"), url("../fonts/ChampionGothic-Heavyweight.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  /* normal - 400  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Middleweight.eot");
  src: local("../fonts/Champion Gothic Middleweight"), local("ChampionGothic-Middleweight"), url("../fonts/ChampionGothic-Middleweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Middleweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Middleweight.woff") format("woff"), url("../fonts/ChampionGothic-Middleweight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* titles  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Lightweight.eot");
  src: local("../fonts/Champion Gothic Lightweight"), local("ChampionGothic-Lightweight"), url("../fonts/ChampionGothic-Lightweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Lightweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Lightweight.woff") format("woff"), url("../fonts/ChampionGothic-Lightweight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.banner.gallery-bnr {
  background-color: var(--light-secondary);
  flex: 1;
  position: relative;
  padding-top: 94px;
}
@media (max-width: 1679px) {
  .banner.gallery-bnr {
    padding-top: 70px;
  }
}
@media (max-width: 1481px) {
  .banner.gallery-bnr {
    padding-top: 70px;
  }
}
@media (max-width: 1281px) {
  .banner.gallery-bnr {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .banner.gallery-bnr {
    padding-top: 50px;
  }
}
@media (max-width: 579px) {
  .banner.gallery-bnr {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .banner.gallery-bnr .banner-wrp-sub {
    flex-direction: column;
  }
}
.banner.gallery-bnr .bnr-cont {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 59px;
  margin-right: 100px;
}
@media (max-width: 1481px) {
  .banner.gallery-bnr .bnr-cont {
    padding-bottom: 40px;
  }
}
@media (max-width: 1281px) {
  .banner.gallery-bnr .bnr-cont {
    padding-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .banner.gallery-bnr .bnr-cont {
    margin-right: 20px;
  }
}
@media (max-width: 767px) {
  .banner.gallery-bnr .bnr-cont {
    padding-bottom: 10px;
    order: 2;
  }
}
@media (max-width: 579px) {
  .banner.gallery-bnr .bnr-cont {
    padding-bottom: 10px;
    margin-right: 0px;
  }
}
.banner.gallery-bnr .bnr-cont .heading {
  font-size: 60px;
  line-height: 62px;
  max-width: 400px;
  font-family: "ChampionGothic", sans-serif;
  margin-bottom: 25px;
  flex-shrink: 0;
}
@media (max-width: 1679px) {
  .banner.gallery-bnr .bnr-cont .heading {
    font-size: 60px;
    line-height: 58px;
  }
}
@media (max-width: 1481px) {
  .banner.gallery-bnr .bnr-cont .heading {
    font-size: 54px;
    line-height: 62px;
  }
}
@media (max-width: 1281px) {
  .banner.gallery-bnr .bnr-cont .heading {
    font-size: 44px;
    line-height: 52px;
    max-width: 370px;
  }
}
@media (max-width: 1199px) {
  .banner.gallery-bnr .bnr-cont .heading {
    font-size: 38px;
    line-height: 44px;
    max-width: 260px;
  }
}
@media (max-width: 767px) {
  .banner.gallery-bnr .bnr-cont .heading {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
    max-width: 200px;
  }
}
@media (max-width: 579px) {
  .banner.gallery-bnr .bnr-cont .heading {
    max-width: 55%;
  }
}
.banner.gallery-bnr .bnr-cont .heading.providers {
  max-width: 690px;
}
@media (max-width: 1679px) {
  .banner.gallery-bnr .bnr-cont .heading.providers {
    font-size: 60px;
    line-height: 58px;
    max-width: 520px;
  }
}
@media (max-width: 1481px) {
  .banner.gallery-bnr .bnr-cont .heading.providers {
    font-size: 50px;
    line-height: 48px;
    max-width: 440px;
  }
}
@media (max-width: 1281px) {
  .banner.gallery-bnr .bnr-cont .heading.providers {
    font-size: 40px;
    line-height: 42px;
    max-width: 390px;
  }
}
@media (max-width: 1199px) {
  .banner.gallery-bnr .bnr-cont .heading.providers {
    font-size: 38px;
    line-height: 40px;
    max-width: 330px;
  }
}
@media (max-width: 991px) {
  .banner.gallery-bnr .bnr-cont .heading.providers {
    font-size: 34px;
    line-height: 32px;
    max-width: 330px;
  }
}
@media (max-width: 767px) {
  .banner.gallery-bnr .bnr-cont .heading.providers {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 10px;
    max-width: 230px;
  }
}
@media (max-width: 579px) {
  .banner.gallery-bnr .bnr-cont .heading.providers {
    max-width: 100%;
  }
}
.banner.gallery-bnr .bnr-cont .heading.contact {
  max-width: 490px;
}
@media (max-width: 1679px) {
  .banner.gallery-bnr .bnr-cont .heading.contact {
    font-size: 60px;
    line-height: 58px;
    max-width: 520px;
  }
}
@media (max-width: 1481px) {
  .banner.gallery-bnr .bnr-cont .heading.contact {
    font-size: 54px;
    line-height: 62px;
  }
}
@media (max-width: 1281px) {
  .banner.gallery-bnr .bnr-cont .heading.contact {
    font-size: 44px;
    line-height: 52px;
    max-width: 390px;
  }
}
@media (max-width: 1199px) {
  .banner.gallery-bnr .bnr-cont .heading.contact {
    font-size: 38px;
    line-height: 44px;
    max-width: 330px;
  }
}
@media (max-width: 767px) {
  .banner.gallery-bnr .bnr-cont .heading.contact {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
    max-width: 200px;
  }
}
@media (max-width: 579px) {
  .banner.gallery-bnr .bnr-cont .heading.contact {
    max-width: 55%;
  }
}
.banner.gallery-bnr .bnr-cont .heading.schedule {
  max-width: 380px;
}
@media (max-width: 1679px) {
  .banner.gallery-bnr .bnr-cont .heading.schedule {
    font-size: 60px;
    line-height: 58px;
    max-width: 520px;
  }
}
@media (max-width: 1481px) {
  .banner.gallery-bnr .bnr-cont .heading.schedule {
    font-size: 54px;
    line-height: 62px;
  }
}
@media (max-width: 1281px) {
  .banner.gallery-bnr .bnr-cont .heading.schedule {
    font-size: 44px;
    line-height: 52px;
    max-width: 390px;
  }
}
@media (max-width: 1199px) {
  .banner.gallery-bnr .bnr-cont .heading.schedule {
    font-size: 38px;
    line-height: 44px;
    max-width: 330px;
  }
}
@media (max-width: 767px) {
  .banner.gallery-bnr .bnr-cont .heading.schedule {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
    max-width: 200px;
  }
}
@media (max-width: 579px) {
  .banner.gallery-bnr .bnr-cont .heading.schedule {
    max-width: 55%;
  }
}
.banner.gallery-bnr .bnr-cont .session-content {
  color: var(--text);
  max-width: 461px;
}
.banner.gallery-bnr .bnr-cont .session-content.providers {
  max-width: 461px;
}
.banner.gallery-bnr .bnr-cont .session-content.contact {
  max-width: 395px;
}
.banner.gallery-bnr .pull-dwn-wrp {
  position: relative;
  margin-bottom: -59px;
}
@media (max-width: 991px) {
  .banner.gallery-bnr .pull-dwn-wrp {
    margin-bottom: -40px;
  }
}
@media (max-width: 767px) {
  .banner.gallery-bnr .pull-dwn-wrp {
    max-width: 100%;
    max-height: -moz-fit-content;
    max-height: fit-content;
    margin-bottom: 20px;
  }
}
.banner.gallery-bnr .pull-dwn-wrp img {
  max-width: 100%;
  max-height: 420px;
}
.banner .banner-wrp-sub {
  display: flex;
}

.transformation-sliders {
  width: 100%;
  padding: 140px 0 60px;
}
@media (max-width: 1679px) {
  .transformation-sliders {
    padding: 120px 0 60px;
  }
}
@media (max-width: 767px) {
  .transformation-sliders {
    padding: 40px 0 30px;
  }
}
.transformation-sliders .slide-img-wrp {
  padding: 0 79px;
}
@media (max-width: 1679px) {
  .transformation-sliders .slide-img-wrp {
    padding: 0 60px;
  }
}
@media (max-width: 1481px) {
  .transformation-sliders .slide-img-wrp {
    padding: 0 50px;
  }
}
@media (max-width: 1281px) {
  .transformation-sliders .slide-img-wrp {
    padding: 0 40px;
  }
}
@media (max-width: 1199px) {
  .transformation-sliders .slide-img-wrp {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .transformation-sliders .slide-img-wrp {
    padding: 0 22px;
  }
}
@media (max-width: 579px) {
  .transformation-sliders .slide-img-wrp {
    padding: 0 30px;
  }
}
.transformation-sliders .slide-img-wrp img {
  max-width: 100%;
  margin: 0 auto;
  max-height: 364px;
}
@media (max-width: 579px) {
  .transformation-sliders .slide-img-wrp img {
    margin: 0;
  }
}
.transformation-sliders .slide-cont-wrp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 67px;
  flex: 1;
}
@media (max-width: 1679px) {
  .transformation-sliders .slide-cont-wrp {
    padding: 0 60px;
  }
}
@media (max-width: 1481px) {
  .transformation-sliders .slide-cont-wrp {
    padding: 0 50px;
  }
}
@media (max-width: 1281px) {
  .transformation-sliders .slide-cont-wrp {
    padding: 0 40px;
  }
}
@media (max-width: 1199px) {
  .transformation-sliders .slide-cont-wrp {
    padding: 0 30px;
  }
}
@media (max-width: 767px) {
  .transformation-sliders .slide-cont-wrp {
    margin-top: 20px;
    padding: 0 22px;
  }
}
@media (max-width: 579px) {
  .transformation-sliders .slide-cont-wrp {
    padding: 0 30px;
    margin-top: 20px;
  }
}
.transformation-sliders .slide-cont-wrp .session-content {
  max-width: 359px;
  color: var(--text);
}
.transformation-sliders .slide-cont-wrp .inner-title {
  margin-bottom: 16px;
}
.transformation-sliders .slick-next {
  right: 0px;
}
.transformation-sliders .slick-next::before {
  content: "\f138";
  color: var(--primary);
  font-family: "Fontawesome";
}
.transformation-sliders .slick-prev {
  left: 0px;
}
.transformation-sliders .slick-prev::before {
  content: "\f137";
  color: var(--primary);
  font-family: "Fontawesome";
}
.transformation-sliders .gallery-margin {
  margin-bottom: 66px;
}

.warning-blk {
  background-color: var(--light-secondary);
  border-radius: 5px;
  padding: 13px 20px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  max-width: 312px;
}
.warning-blk .warn-icon {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary);
  border-radius: 50%;
  margin-right: 13px;
  color: var(--primary);
}
.warning-blk .warn-content .title {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  color: var(--primary);
}
.warning-blk .warn-content .desc {
  color: var(--primary);
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.42px;
}

.play-icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--secondary);
  border-radius: 50%;
  margin-right: 7px;
  color: var(--secondary);
  font-size: 15px;
}

.providers-info-wrp {
  display: flex;
  flex-wrap: wrap;
  gap: 62px;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 77px;
  margin-bottom: 77px;
}
@media (max-width: 1679px) {
  .providers-info-wrp {
    gap: 40px;
  }
}
@media (max-width: 1199px) {
  .providers-info-wrp {
    gap: 30px;
  }
}
@media (max-width: 579px) {
  .providers-info-wrp {
    gap: 0px;
    flex-direction: column;
  }
}
.providers-info-wrp .provider-pic {
  max-width: 243px;
  width: 100%;
  border-radius: 10px;
  flex: 0 0 auto;
}
@media (max-width: 579px) {
  .providers-info-wrp .provider-pic {
    margin-bottom: 20px;
  }
}
.providers-info-wrp .provider-pic img {
  max-width: 100%;
  max-height: 243px;
}
.providers-info-wrp .provider-deatil-wrp {
  max-width: 590px;
  width: 100%;
  flex: 0 0 auto;
}
@media (max-width: 991px) {
  .providers-info-wrp .provider-deatil-wrp {
    width: calc(100% - 273px);
  }
}
@media (max-width: 579px) {
  .providers-info-wrp .provider-deatil-wrp {
    width: 100%;
  }
}
.providers-info-wrp .provider-deatil-wrp .provider-highlight {
  margin-bottom: 20px;
}
.providers-info-wrp .provider-deatil-wrp .provider-highlight .inner-title {
  margin-bottom: 5px;
}
.providers-info-wrp .provider-deatil-wrp .provider-highlight .provider-title {
  font-family: "Gotham", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: var(--text);
}
@media (max-width: 579px) {
  .providers-info-wrp .provider-deatil-wrp .provider-highlight .provider-title {
    font-size: 16px;
    line-height: 20px;
  }
}
.providers-info-wrp .provider-deatil-wrp .provider-highlight .watch-video-link {
  display: flex;
  align-items: center;
  color: var(--secondary);
  text-transform: uppercase;
  font-family: "Gotham", sans-serif;
  cursor: pointer;
}
.providers-info-wrp .provider-deatil-wrp .provider-bio {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text);
  margin-bottom: 40px;
}
.providers-info-wrp .provider-deatil-wrp .certification-title {
  font-family: "Gotham", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary);
  margin-bottom: 40px;
  text-align: center;
}
.providers-info-wrp .provider-deatil-wrp .affiliation-blk {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 60px;
}
.providers-info-wrp .provider-deatil-wrp .affiliation-blk .blks {
  flex: 1;
}
.providers-info-wrp .provider-deatil-wrp .affiliation-blk .blks img {
  max-width: 100%;
}

.review-slide-wrp {
  margin-top: 30px;
}
.review-slide-wrp .page-tt-slider .tt-slider {
  background-color: var(--light-secondary);
}
.review-slide-wrp .page-tt-slider .tt-slider .text-desc {
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.review-slide-wrp .page-tt-slider .tt-slider .slide .user {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.review-slide-wrp .page-tt-slider .slick-dots li.slick-active button::before {
  opacity: 1;
}
.review-slide-wrp .page-tt-slider .slick-dots li button::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #A2A2A2;
  position: relative;
  border-radius: 10px;
  opacity: 0.5;
}
.review-slide-wrp .btn-arrows {
  color: #A1A1A1;
}

.contact-wrapper {
  display: flex;
}
.contact-wrapper .map-holder {
  margin-right: 60px;
}
.contact-wrapper .address-holder {
  padding: 45px 60px;
}
.contact-wrapper .address-holder .address-title {
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: var(--primary);
}
.contact-wrapper .address-holder .location-info {
  color: #000;
  font-family: "Gotham", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  max-width: 316px;
  margin-bottom: 30px;
}
.contact-wrapper .address-holder .location-info .direction-link {
  color: var(--secondary);
  display: block;
  text-decoration: none;
  font-family: "Gotham", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.contact-wrapper .address-holder .location-info .mail-link {
  color: var(--text);
  text-decoration: none;
  font-family: "Gotham", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.schedule-consult-wrp {
  display: flex;
  justify-content: center;
  padding-bottom: 80px;
}
.schedule-consult-wrp .consultation-form {
  max-width: 488px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.schedule-consult-wrp .consultation-form .prefered-method {
  color: var(--Dark-Blue, #06518E);
  font-family: "Gotham", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}
.schedule-consult-wrp .consultation-form .form-control, .schedule-consult-wrp .consultation-form .form-select {
  border: 1px solid var(--primary);
  border-radius: 5px;
  color: var(--primary);
  margin-bottom: 24px;
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 50px;
}
.schedule-consult-wrp .consultation-form .form-control::-moz-placeholder, .schedule-consult-wrp .consultation-form .form-select::-moz-placeholder {
  color: var(--primary);
}
.schedule-consult-wrp .consultation-form .form-control::placeholder, .schedule-consult-wrp .consultation-form .form-select::placeholder {
  color: var(--primary);
}
@media (max-width: 1481px) {
  .schedule-consult-wrp .consultation-form .form-control, .schedule-consult-wrp .consultation-form .form-select {
    height: 45px;
  }
}
@media (max-width: 1281px) {
  .schedule-consult-wrp .consultation-form .form-control, .schedule-consult-wrp .consultation-form .form-select {
    height: 40px;
  }
}
.schedule-consult-wrp .consultation-form .option-wrp {
  margin-bottom: 40px;
}
.schedule-consult-wrp .consultation-form .option-wrp .form-check {
  margin-bottom: 13px;
}
.schedule-consult-wrp .consultation-form .option-wrp label {
  color: var(--primary);
  font-family: "Gotham", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.schedule-consult-wrp .consultation-form .option-wrp .form-check-input {
  border-color: var(--primary);
}
.schedule-consult-wrp .consultation-form .option-wrp .form-check-input:checked {
  background-color: var(--primary);
}
.schedule-consult-wrp .consultation-form .btn-secondary {
  align-self: center;
}