:root {
  --primary: #06518E;
  --secondary: #2F96D0;
  --ternary: #5FCBEC;
  --light: #CCEBF6;
  --light-secondary: #E5F5FA;
  --hover_blue:#EEF8FC;
  --text: #000000;
  --border: #C4C4C4;
  --white: #ffffff;
  --light_blue: #CCEBF6;
  --divider-line:#C4C4C4;
  --radio_color:#A1A1A1;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* heavy  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Heavyweight.eot");
  src: local("../fonts/Champion Gothic Heavyweight"), local("ChampionGothic-Heavyweight"), url("../fonts/ChampionGothic-Heavyweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Heavyweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Heavyweight.woff") format("woff"), url("../fonts/ChampionGothic-Heavyweight.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  /* normal - 400  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Middleweight.eot");
  src: local("../fonts/Champion Gothic Middleweight"), local("ChampionGothic-Middleweight"), url("../fonts/ChampionGothic-Middleweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Middleweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Middleweight.woff") format("woff"), url("../fonts/ChampionGothic-Middleweight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* titles  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Lightweight.eot");
  src: local("../fonts/Champion Gothic Lightweight"), local("ChampionGothic-Lightweight"), url("../fonts/ChampionGothic-Lightweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Lightweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Lightweight.woff") format("woff"), url("../fonts/ChampionGothic-Lightweight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
body.menu-open {
  overflow: hidden;
}

.navbar {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 2;
  position: relative;
}
.navbar .navbar-brand img {
  max-height: 50px;
  object-fit: contain;
}
@media (max-width: 991px) {
  .navbar .navbar-brand img {
    max-height: 35px;
  }
}
.navbar .navbar-toggler {
  border: none;
  box-shadow: none;
  outline: none;
}
.navbar .navbar-toggler .navbar-toggler-icon {
  background: none;
}
.navbar .navbar-toggler .navbar-toggler-icon::after {
  content: "\f0c9";
  font-family: "Fontawesome";
  color: var(--primary);
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .close-menu {
  padding: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 35px;
  top: 20px;
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 991px) {
  .navbar .navbar-collapse {
    transition: transform 0.3s;
    padding-left: 40px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 33px;
    background-color: var(--primary);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 9;
    transform: translateX(100%);
  }
  .navbar .navbar-collapse.show {
    transform: translateX(0);
  }
}
.navbar .navbar-nav .nav-link {
  color: var(--text);
  padding-left: 18px;
  padding-right: 18px;
  font-weight: 400;
  transition: linear 0.3s;
}
@media (max-width: 1281px) {
  .navbar .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 1199px) {
  .navbar .navbar-nav .nav-link {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .navbar .navbar-nav .nav-link {
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 5px;
  }
}
.navbar .navbar-nav .nav-link.dropdown-toggle::after {
  content: "\f078";
  font-family: "Fontawesome";
  border: none;
  font-size: 12px;
  position: absolute;
  top: 12px;
  margin-left: 7px;
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-link.dropdown-toggle::after {
    font-size: 14px;
    top: 10px;
  }
}
.navbar .navbar-nav .nav-link.dropdown-toggle.show::after {
  transform: rotate(180deg);
}
.navbar .navbar-nav .nav-link-btn {
  text-align: center;
  color: var(--white);
}
@media (max-width: 1281px) {
  .navbar .navbar-nav .nav-link-btn {
    height: 40px;
  }
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-link-btn {
    height: 49px;
    margin-top: 20px;
    padding: 15px 25px;
    font-weight: 500;
  }
}
.navbar .nav-item .dropdown-menu {
  top: calc(100% + 18px);
  padding-top: 0;
  padding-bottom: 0;
  overflow: clip;
  border: none;
  padding: 9px;
}
@media screen and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  }
}
@media screen and (max-width: 991px) {
  .navbar .nav-item .dropdown-menu {
    background-color: transparent;
    padding-left: 20px;
    border-radius: 0;
  }
}
.navbar .nav-item .dropdown-menu .dropdown-item {
  font-size: 14px;
  font-weight: 400;
  color: var(--text);
  padding: 5px 11px;
}
@media screen and (max-width: 991px) {
  .navbar .nav-item .dropdown-menu .dropdown-item {
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
  }
}
@media screen and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu .dropdown-item:hover, .navbar .nav-item .dropdown-menu .dropdown-item:focus, .navbar .nav-item .dropdown-menu .dropdown-item:active {
    background-color: var(--hover_blue);
    color: var(--secondary);
  }
}
@media (max-width: 991px) {
  .navbar .nav-item .dropdown-menu .dropdown-item:hover, .navbar .nav-item .dropdown-menu .dropdown-item:focus, .navbar .nav-item .dropdown-menu .dropdown-item:active {
    background-color: #265a8f;
  }
}

/*# sourceMappingURL=navbar.css.map */
