:root {
  --primary: #06518E;
  --secondary: #2F96D0;
  --ternary: #5FCBEC;
  --light: #CCEBF6;
  --light-secondary: #E5F5FA;
  --hover_blue:#EEF8FC;
  --text: #000000;
  --border: #C4C4C4;
  --white: #ffffff;
  --light_blue: #CCEBF6;
  --divider-line:#C4C4C4;
  --radio_color:#A1A1A1;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* heavy  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Heavyweight.eot");
  src: local("../fonts/Champion Gothic Heavyweight"), local("ChampionGothic-Heavyweight"), url("../fonts/ChampionGothic-Heavyweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Heavyweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Heavyweight.woff") format("woff"), url("../fonts/ChampionGothic-Heavyweight.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  /* normal - 400  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Middleweight.eot");
  src: local("../fonts/Champion Gothic Middleweight"), local("ChampionGothic-Middleweight"), url("../fonts/ChampionGothic-Middleweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Middleweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Middleweight.woff") format("woff"), url("../fonts/ChampionGothic-Middleweight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* titles  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Lightweight.eot");
  src: local("../fonts/Champion Gothic Lightweight"), local("ChampionGothic-Lightweight"), url("../fonts/ChampionGothic-Lightweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Lightweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Lightweight.woff") format("woff"), url("../fonts/ChampionGothic-Lightweight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.service-banner {
  min-height: 580px;
  overflow: hidden;
  background: linear-gradient(90deg, #06518E 0%, #2F96D0 100%);
  display: flex;
  overflow: hidden;
}
.service-banner .fade-sl {
  display: flex;
  height: 100%;
}
.service-banner .slick-track {
  height: 100%;
}
.service-banner .banner-cvr {
  display: flex;
  height: 100%;
}
.service-banner .bnr-content-cvr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  padding: 45px 0;
}
.service-banner .bnr-content-cvr .btn-secondary {
  min-width: 150px;
}
.service-banner .bnr-content-cvr small {
  color: var(--white);
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
}
.service-banner .bnr-content-cvr .page-title {
  color: var(--white);
  margin-bottom: 20px;
  font-size: 55px;
  line-height: 63px;
}
.service-banner .bnr-content-cvr p {
  color: var(--white);
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 16px;
}
.service-banner .services-bnr-img {
  max-width: 800px;
  width: 100%;
  position: relative;
  display: flex;
  margin-top: auto;
}
.service-banner .services-bnr-img img {
  max-width: 900px;
}
.service-banner .right-end-image .services-bnr-img {
  margin-left: auto;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 0;
}
.service-banner .banner-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
}
@media screen and (max-width: 1481px) {
  .service-banner .banner-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media screen and (max-width: 1199px) {
  .service-banner .banner-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 1023px) {
  .service-banner .banner-container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 991px) {
  .service-banner .banner-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 767px) {
  .service-banner .banner-container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 767px) {
  .service-banner .banner-container.mobile-0 {
    padding: 0px;
  }
}
.service-banner .bnr-flex {
  display: flex;
  align-items: center;
}
.service-banner .bnr-flex .left-content {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}
.service-banner .box-full {
  position: relative;
}

@media (max-width: 1679px) {
  .service-banner .bnr-content-cvr .page-title {
    margin-bottom: 20px;
    font-size: 47px;
    line-height: 57px;
  }
  .service-banner .bnr-content-cvr p {
    margin-bottom: 30px;
    font-size: 14px;
  }
  .service-banner .services-bnr-img img {
    max-width: 800px;
    width: 600px;
  }
  .service-banner {
    min-height: 470px;
  }
}
@media (max-width: 1281px) {
  .service-banner .bnr-content-cvr .page-title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 47px;
  }
  .service-banner .services-bnr-img img {
    max-width: 800px;
    width: 490px;
  }
  .service-banner {
    min-height: 420px;
  }
}
<<<<<<< HEAD
@media (max-width: 991px) {
  .service-banner .services-bnr-img img {
    max-width: 800px;
    width: 420px;
  }
}
@media (max-width: 767px) {
  .service-banner .bnr-content-cvr {
    padding: 30px 0;
  }
  .service-banner .bnr-content-cvr small {
    font-size: 17px;
  }
  .service-banner .bnr-content-cvr .btn-secondary {
    min-width: 130px;
  }
  .service-banner .bnr-content-cvr .page-title {
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 40px;
  }
  .service-banner .bnr-content-cvr {
    width: 100%;
  }
  .service-banner .fade-sl {
    display: block;
  }
  .service-banner .services-bnr-img img {
    max-width: 800px;
    width: 420px;
  }
  .service-banner .banner-cvr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
=======

/*# sourceMappingURL=services-banner.css.map */
>>>>>>> 8b8b5ede4e63077aeb601fa78c3d4cedb6d8398c
