:root {
  --primary: #06518E;
  --secondary: #2F96D0;
  --ternary: #5FCBEC;
  --light: #CCEBF6;
  --light-secondary: #E5F5FA;
  --text: #000000;
  --border: #C4C4C4;
  --white: #ffffff;
  --light_blue: #CCEBF6;
  --divider-line:#C4C4C4;
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Light.woff2") format("woff2"), url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg#Gotham-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Book.woff2") format("woff2"), url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg#Gotham-Book") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  /* heavy  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Heavyweight.eot");
  src: local("../fonts/Champion Gothic Heavyweight"), local("ChampionGothic-Heavyweight"), url("../fonts/ChampionGothic-Heavyweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Heavyweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Heavyweight.woff") format("woff"), url("../fonts/ChampionGothic-Heavyweight.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  /* normal - 400  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Middleweight.eot");
  src: local("../fonts/Champion Gothic Middleweight"), local("ChampionGothic-Middleweight"), url("../fonts/ChampionGothic-Middleweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Middleweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Middleweight.woff") format("woff"), url("../fonts/ChampionGothic-Middleweight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  /* titles  */
  font-family: "ChampionGothic";
  src: url("../fonts/ChampionGothic-Lightweight.eot");
  src: local("../fonts/Champion Gothic Lightweight"), local("ChampionGothic-Lightweight"), url("../fonts/ChampionGothic-Lightweight.eot?#iefix") format("embedded-opentype"), url("../fonts/ChampionGothic-Lightweight.woff2") format("woff2"), url("../fonts/ChampionGothic-Lightweight.woff") format("woff"), url("../fonts/ChampionGothic-Lightweight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
/*** all Mobile Screen (iphone 6,7,8) ***/
/*** mobile Landscape Size ***/
/*** medium devices (tablets, less than 992px) ***/
/*** iPad in landscape ***/
/**** smaller than desktop 1200 (devices and browsers) ***/
/*** laptop with MDPI (medium density per inch) resolution ***/
/*** laptop with HiDPI (High Dots Per Inch) resolution ***/
/*** WSXGA (Wide Super Extended Graphics Array) resolution ***/
.section-page-tt-slider {
  background: linear-gradient(90deg, var(--light) 0%, var(--light_trans) 100%);
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .section-page-tt-slider {
    padding: 40px 0;
  }
}
.section-page-tt-slider.no-bg-slider {
  background: #E5F5FA !important;
}
.section-page-tt-slider.no-bg-slider::after {
  display: none;
}
.section-page-tt-slider .title-col {
  margin-bottom: 30px;
}
.section-page-tt-slider .title-col .heading {
  font-size: 60px;
}
@media (max-width: 1679px) {
  .section-page-tt-slider .title-col .heading {
    font-size: 50px;
    line-height: 52px;
  }
}
@media (max-width: 1481px) {
  .section-page-tt-slider .title-col .heading {
    font-size: 42px;
    line-height: 44px;
    margin: 0 auto 20px;
  }
}
@media (max-width: 991px) {
  .section-page-tt-slider .title-col .heading {
    font-size: 35px;
    line-height: 37px;
    max-width: 320px;
    margin: 0 auto 20px;
  }
}
.section-page-tt-slider .title-col .subtitle {
  max-width: 765px;
  margin: auto;
  font-size: 20px;
  color: var(--text);
}
@media (max-width: 1679px) {
  .section-page-tt-slider .title-col .subtitle {
    max-width: 710px;
    font-size: 18px;
  }
}
@media (max-width: 1481px) {
  .section-page-tt-slider .title-col .subtitle {
    max-width: 610px;
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .section-page-tt-slider .title-col .subtitle {
    max-width: 610px;
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .section-page-tt-slider .title-col .subtitle {
    max-width: 328px;
  }
}
.section-page-tt-slider.home-tt-slider {
  position: relative;
  background: linear-gradient(90deg, var(--ternary) 0%, rgba(229, 245, 250, 0.8) 100%);
}
.section-page-tt-slider.home-tt-slider .container {
  position: relative;
  z-index: 2;
}
.section-page-tt-slider.home-tt-slider::after {
  content: "";
  inset: 0;
  background-image: url(../img/home-tts-bg.jpg);
  background-size: cover;
  position: absolute;
  z-index: 0;
  opacity: 0.15;
}

.page-tt-slider {
  max-width: 590px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .page-tt-slider {
    padding: 0 30px;
  }
}
.page-tt-slider .tt-slider {
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  min-height: 225px;
}
@media (max-width: 767px) {
  .page-tt-slider .tt-slider {
    min-height: 308px;
  }
}
.page-tt-slider .tt-slider .text-desc {
  font-size: 16px;
  color: var(--text);
  font-family: "Gotham", sans-serif;
}
@media (max-width: 767px) {
  .page-tt-slider .tt-slider .text-desc {
    font-size: 16px;
    line-height: 24px;
  }
}
.page-tt-slider .btn-arrows {
  position: absolute;
  top: 50%;
  z-index: 3;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
}
.page-tt-slider .btn-arrows.btn-prev {
  left: -50px;
}
@media (max-width: 767px) {
  .page-tt-slider .btn-arrows.btn-prev {
    left: 0px;
  }
}
.page-tt-slider .btn-arrows.btn-next {
  right: -50px;
}
@media (max-width: 767px) {
  .page-tt-slider .btn-arrows.btn-next {
    right: 0px;
  }
}
.page-tt-slider .slick-dots {
  bottom: -55px;
}
.page-tt-slider .slick-dots li button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.page-tt-slider .slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  position: relative;
  border-radius: 10px;
  opacity: 0.5;
}
.page-tt-slider .slick-dots li.slick-active button:before {
  opacity: 1;
}
.page-tt-slider .slide .user {
  color: var(--secondary);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0;
}

/*# sourceMappingURL=slider-testimonial.css.map */
