:root{
    --primary: #06518E;
    --secondary: #2F96D0;
    --ternary: #5FCBEC;
    --light: #CCEBF6;
    
    --text: #000000;
    --textD: #000000; // does not flip in dark mode
    --border: #C4C4C4;

    --white: #ffffff;
    --whiteD: #ffffff; // for dark mode flip

    --light_blue: #CCEBF6;
    --divider-line:#C4C4C4;
}