:root{
    --primary: #06518E;
    --secondary: #2F96D0;
    --ternary: #5FCBEC;
    --light: #CCEBF6;
    --light-secondary: #E5F5FA;
    
    --text: #000000;
    --border: #C4C4C4;

    --white: #ffffff;

    --light_blue: #CCEBF6;
    --divider-line:#C4C4C4;
}
$primary_font:'Gotham', sans-serif;
$title_font:'ChampionGothic', sans-serif;