@import 'partials';

.meet-faces-cover{
    text-align: center;
    .btn-otr{
        margin-top: 50px;
    }
    .box-flex{
        display: flex;
        column-gap: 100px;
        justify-content: center;
        .meet-faces{
           
          .face-box{
            width: 243px;
            height: 243px;
            margin: 0 auto;
            border-radius: 10px;
            overflow: hidden;
          display: flex;
          }
        }
        .name-rol{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            margin-top: 25px;
            strong{
                color: var(--primary);
                font-size: 18px; 
                font-weight: 700;
            }
            small{
                color: var(--text);
                font-size: 16px; 
            }
        }
    }
}

.list-area-large{
  padding: 0 15px;
    .cont-head{
        text-align: center;
        strong{
            color: var(--secondary);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px; /* 171.429% */
            letter-spacing: 0.42px;
            text-transform: uppercase; 

        }
        
    }

    .list-items-lg {
        list-style-type: none; // Remove the default numbering
        counter-reset: my-awesome-counter; // Reset the counter
      
        // Apply styles to li elements
        margin-left: 0;
        padding-left: 0;
      
        li {
          counter-increment: my-awesome-counter; // Increment the counter for each li
          display: flex;
          text-align: left;
          column-gap: 50px;
          position: relative;
          border-bottom: 1px solid #A1A1A1;
          padding-bottom: 40px;
          margin-top: 40px;
          align-items: flex-start;
          &:last-child{
            border-bottom: 0;
          }
          // Apply styles to li::before pseudo-element
          &::before {
            content: counter(my-awesome-counter) " ";
            color: var(--ternary);
            font-family: $title_font;
            font-size: 100px;
            font-style: normal;
            font-weight: 325; 
            position: absolute;
            top: -21px;
            left: -2px;
          }

          .article-list-atrea{
            padding-left: 65px;
            flex-shrink: 1;
            flex: 0 0 auto;
            flex-shrink: 0;
            width: 55%;
             .title-li{
              color: var(--primary);
              font-size: 24px;
              font-style: normal;
              font-weight: 700;
              line-height: 27px;
              font-family: $primary_font;
              margin-bottom: 10px;
            }
            .para-li{
              font-size: 16px;
            }
          }
          .light-cont{
            background: var(--light-secondary);
            border-radius: 10px; 
            padding: 20px 30px;
            // max-width: 488px;
            .small{
              font-family: $primary_font;
              font-size: 14px;
              margin-bottom: 8px;
               
            }
          }
        }
      }
}
@media(max-width:1679px){
  
  .content-main {
    margin-top: 50px !important;
    .image-wrap{
      max-width: 560px;
      
    }
  }
  .list-area-large .list-items-lg li .article-list-atrea {
    padding-left: 45px;
  }
  .list-area-large .list-items-lg li .article-list-atrea .para-li {
    font-size: 14px;
  }
  .list-area-large .list-items-lg li .article-list-atrea .title-li {
    font-size: 20px;
    line-height: 23px;
  }

  .list-area-large .list-items-lg li{
    padding-bottom: 30px;
    margin-top: 30px;
  }
  .list-area-large .list-items-lg li::before{
    font-size: 70px;
  }
  .list-area-large .list-items-lg li .light-cont{
    padding: 20px;
  }
  .meet-faces-cover .box-flex .name-rol{
    margin-top: 15px;
  }
  .meet-faces-cover .box-flex .name-rol strong{
    font-size: 15px;
  }
  .meet-faces-cover .box-flex .meet-faces .face-box {
    width: 200px;
    height: 200px;
  }
  .meet-faces-cover .btn-otr {
    margin-top: 30px;
  }
}

@media(max-width:1199px){

.meet-faces-cover .box-flex .meet-faces .face-box {
  width: 180px;
  height: 180px;
}
.meet-faces-cover .box-flex{
  column-gap: 50px;
}
.list-area-large .list-items-lg li::before {
  font-size: 50px;
  top: -15px;
 
}
.list-area-large .list-items-lg li .article-list-atrea {
  padding-left: 30px;
}

}
@media(max-width:1023px){

.list-area-large .list-items-lg li .article-list-atrea{
  width: 50%;

}
.meet-faces-cover .box-flex .name-rol strong{
  line-height: 1;
}
}
@media(max-width:991px){
  .list-area-large .list-items-lg li .article-list-atrea .title-li {
    font-size: 16px;
    line-height: 20px;
  }
  .meet-faces-cover .box-flex .meet-faces .face-box {
    width: 150px;
    height: 150px;
  }
 
}
@media(max-width:767px){
  .list-area-large .list-items-lg li{
    column-gap: 20px;
  }
  .meet-faces-cover{
    .title-lg{
      margin-bottom: 45px !important;
    }
  }
  .meet-faces-cover .btn-otr {
    margin-top: 0;
    margin-bottom: 45px;
  }
.meet-faces{
  margin-bottom: 50px;
}
.meet-faces-cover .box-flex{
 flex-direction: column;
}
.meet-faces-cover .box-flex .meet-faces .face-box {
  width: 240px;
  height: 240px;
}
.list-area-large .list-items-lg{
  padding-left: 15px;
}
.list-area-large .list-items-lg li{
  flex-direction: column;
}
.list-area-large .list-items-lg li .light-cont{
  margin-left: 40px;
  margin-top: 25px;
}
.list-area-large .list-items-lg li .article-list-atrea{
  width: 100%;
}
}
@media(max-width:579px){
  .list-area-large .list-items-lg li::before {
    font-size: 60px;
    top: -23px;
  }
  .list-area-large .list-items-lg li .article-list-atrea {
    padding-left: 40px;
  }
  .list-area-large .list-items-lg{
    padding-left: 10px;
  }
    
    .meet-faces-cover{
      .title-lg{
        margin-bottom: 35px !important;
      }
    }
    .meet-faces-cover .box-flex .meet-faces .face-box {
      width: 180px;
      height: 180px;
    }
   
    .list-area-large .list-items-lg li:last-child{
      padding-bottom: 0;
    }
}
.image-right-outr
{
  display:flex;
  justify-content:end;
}