@import 'partials';


.container-padding-lg{
  padding-left: 150px;
  padding-right: 150px;
}

.article-section{
    margin: 81px 0;
    .title-lg{
        font-family:$title_font;
        margin-bottom: 81px;
        text-align: center;
        color: var(--primary);
        font-size: 55px;
        line-height: 62px;
        font-weight: 275;
    }
    .image-content-otr{
       
        .pdg-lft{
            padding-left: 50px;
        }
        .pdg-rgt{
            padding-right: 50px;
        }
      
        .img-wrap{
     img{
        width: 100%;
     }
        }
        .content-wrap{
            display: flex;
            justify-content: center;
            flex-direction:  column;
            p{
                font-size: 16px;
            }
           
            .title-md{
             color: var( --primary);
             font-size: 28px;
             line-height: 32px;
             font-weight: 700;
             font-family: $primary_font;
             margin-bottom: 13px;
            }
            p{
             color: var(--text);
            }
            .more-btn{
             font-family: $primary_font;
font-size: 14px;
font-weight: 700;
text-decoration: none;
                color: var(--secondary);
span{
    img{
        width: 40px;
    }
}
                .arrow {
  border: solid var(--secondary);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
            }
        }
    }

    &.bg-fill{
        background-color: #E5F5FA;
        padding-top: 52px;
        padding-bottom: 59px;
    }
   .content-sm{
    // max-width: 304px;
    width: 100%;
   }

   .link-a{
    color: var(--primary);
    text-decoration: none;
    font-size: 16px;
font-weight: 700; 
}

.lg-para{
    font-size: 20px;
    font-weight: 400; 
    margin-bottom: 15px;
}
a{
    text-decoration: none;
}

.video-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
    button{background-color: transparent;border: 0;}
    span{
        color: var(--secondary);
        font-weight: 700;
        font-size: 16px;
    }
    img{
        width: 30px;
        margin-right:5px;
    }
}
}

.image-split-area{
    margin-top: 98px;
    margin-bottom: 120px;
    .content-wrap{
        justify-content: flex-start !important;
        padding-top: 60px;
        .title-lg{
            margin-bottom: 10px;
            text-align: left;
        }
    }
    .image-content-otr{
        .img-wrap {
            img{
                max-width: 495px;
                // width: 495px;
            }
        }
    }
}


    .article-section{
        .article-cvr{
            display: flex;
            column-gap: 100px;
            padding-right: 50px;
            background-color: var(--light-secondary);
            overflow: hidden;
            border-radius: 10px;
            .article-img{
                max-width: 480px;
                width: 100%;
                min-height: 377px;
                background: url(../img/image-01.jpg) no-repeat center center;
                background-size: cover;
                flex-shrink: 0;
                img{
                    width: 100%;
                }
            }
            .article-content{
                padding-bottom: 50px;
                padding-top: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                .lg-title{
                    font-size: 50px;
                    line-height: 57px;
                    margin-bottom: 20px;
                    font-weight: 275;
                color: var(--primary);
                font-family:$title_font;
                }
                p{
                    font-weight: 400;
                    font-size: 16px; 
                }
               
                .md-title{
                    font-family:$primary_font;
                    font-size: 23px;
                    line-height: 27px;
                    font-weight: 700; 
                    margin-bottom: 15px;
                    font-style: normal; 
                    color: var(--primary);
                }
                .btn-otr{
                  margin-top:10px;
                }
            }
        }


.custom-list{
    padding-left: 0;
    li{
        list-style: none;
        display: flex;
        align-items: center;
        font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px;
margin-bottom: 20px;
        .cont{
            color: var(--primary);
            font-size: $primary_font;
        }
        .icon-md{
            margin-right: 12px;
            width: 47px;
        }

    }
}


    }

.mt{
    margin-top: 5px;
}


.content-main{
    margin-top: 85px;
    .title-lg{
        text-align: left;
        margin-bottom: 20px !important;
    }
    .mt-lg{
        margin-top: 80px;

    }
    .ps-md{
        padding-left: 50px;
    }
    .article_otr{
        .para{
            font-size: 16px;
            color: var(--text);
            margin-bottom: 15px;
        }
        .lg-para{

        }
    }
    .image-wrap{
    
        img{
            max-width: 100%;
        } 
    }
    .image-wrap-sm{
        max-width: 488px;
        width: 100%;
    }
    .tag-line{
        color: var(--primary);
        margin: 25px 0;
        display: flex;
        .line{
            background-color: var(--secondary);
            width: 10px;
            flex-shrink: 0;
            margin-right: 15px;
            border-radius: 2px;
        }
        
        strong{
            font-family: $primary_font;
            font-size: 18px;
            line-height: 23px;
            font-weight: 700;
            font-style: normal; 
          
        }
    }
}

@media(max-width:1679px){

    .content-main .article_otr .para {
        font-size: 14px;
        margin-bottom: 10px;
      }
.article-section .title-lg {
    margin-bottom: 50px;
    font-size: 45px;
    line-height: 53px;
    font-weight: 275;
  }
  .article-section .image-content-otr .content-wrap p {
    font-size: 14px;
  }
  .article-section .image-content-otr .content-wrap .more-btn{
    font-size: 13px;
  }
  .article-section .image-content-otr .content-wrap .title-md {
    font-size: 24px;
  }
  .article-section .article-cvr .article-content .lg-title {
    font-size: 45px;
    line-height: 48px;
  }
  .article-section .article-cvr .article-content .btn-otr {
    margin-top: 30px;
  }
  .article-section .article-cvr{
    column-gap: 70px;
  }
  .article-section {
    margin: 60px 0;
  }

  .tab-cover {
    .tag-line strong{
     font-size: 14px;
    }
   
   .tag-line .line{
        width: 8px;
      }
  }
  .article-section {
    .btn.btn-secondary{
        padding: 10px 20px;
        height: 45px;
    }
  }
  .content-main .image-wrap-sm {
    max-width: 460px;
  }
  .article-section .lg-para {
    font-size: 18px;
  }
  .article-section .video-link{
     margin-top: 0;
  }
  .content-main .tag-line{
    margin: 15px 0;
  }
  .article-section .link-a{
    font-size: 14px;
  }
}

@media (max-width: 1281px) {
    .article-section .article-cvr .article-content .lg-title {
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 10px;
    
  }
  .article-section .article-cvr{
    column-gap: 50px;
  }
  .article-section .article-cvr .article-img {
    max-width: 50%;
  }
  .article-section .article-cvr .article-img{
    min-height: 270px;
  }
  .article-section .article-cvr .article-content .btn-otr{
    margin-top: 20px;
  }
}

@media (max-width: 1199px) {
    .container-padding-lg {
        padding-left: 30px;
        padding-right: 30px;
      }
    .article-section .title-lg {
        margin-bottom: 40px;
    }
    .tab-section .tab-cover{
      .content-main {
        margin-top: 25px !important;
      }
    }
    .article-section {
        margin: 40px 0;
      }
      .article-section.bg-fill {
        padding-top: 32px;
        padding-bottom: 32px;
      }
      .article-section .title-lg {
        font-size: 37px;
        line-height: 44px;
        font-weight: 275;
      }
      .article-section .lg-para {
        font-size: 16px;
      }
      .content-main .image-wrap-sm {
          max-width: 90%;
        }
    }
    @media (max-width: 991px) { 
        .content-main .ps-md {
            padding-left: 0;
          }
          .article-section .title-lg {
            margin-bottom: 30px;
          }
          .tab-section .tab-cover .content-main {
              margin-top: 20px !important;
            }
            .tab-cover .tag-line strong{
                line-height: 20px;
            }
            .content-main .image-wrap{
                height: 100%;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                margin:0 auto;
            }
            .content-main {
                margin-top: 0 !important;
              }
            }
            
            @media (max-width: 767px) {
                .custom-mrg{
                    margin-top: 0;
                }
                .article-section .title-lg {
                    font-size: 33px;
                    line-height: 37px;
                }
            .content-main .image-wrap-sm {
              max-width:100%;
              height: auto;
              margin-bottom:30px;
              display: block;
              text-align: center;
            }
            .article_otr{
                margin-bottom: 35px;
            }
            
        }

        @media (max-width: 579px) {
            .article-section .title-lg {
                font-size: 28px;
                line-height: 33px;
              }
            .content-main .image-wrap {
                // margin: 0px 0;
              }
        .content-main .tag-line .line{
            margin-right: 10px;
        }
      
      }