@import 'partials';

.banner {
    &.gallery-bnr {
        background-color: var(--light-secondary);
        flex: 1;
        position: relative;
        padding-top: 94px;
        @media ($sm-1679){
            padding-top: 70px;
        }
        @media ($sm-1481){
            padding-top: 70px;
        }
        @media ($sm-1281){
            padding-top: 60px;
        }
        @media ($sm-767){
            padding-top: 50px;
        }
        @media ($sm-579){
            padding-top: 30px;
        }
        .banner-wrp-sub{
            @media ($sm-767){
                flex-direction: column;
            }
        }

        .bnr-cont {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 59px;
            margin-right: 100px;
            @media ($sm-1481){
                padding-bottom:40px;
            }
            @media ($sm-1281){
                padding-bottom:30px;
            }
            @media ($sm-991){
                margin-right: 20px;;
            }
            @media ($sm-767){
                padding-bottom:10px;
                order: 2;
            }
            @media ($sm-579){
                padding-bottom: 10px;
                margin-right: 0px;
            }
            .heading {
                // font-size: 74px;
                // line-height: 72px;
                font-size: 60px;
                line-height: 62px;
                max-width: 400px;
                font-family: $title_font;
                margin-bottom: 25px;
                flex-shrink: 0;
                @media ($sm-1679){
                    font-size: 60px;
                    line-height: 58px;
                }
                @media ($sm-1481){
                    font-size: 54px;
                    line-height: 62px;
                }
                @media ($sm-1281){
                    font-size: 44px;
                    line-height: 52px;
                    max-width: 370px;
                }
                @media ($sm-1199){
                    font-size: 38px;
                    line-height: 44px;
                    max-width: 260px;
                }
                @media ($sm-767){
                    font-size: 26px;
                    line-height: 30px;
                    margin-bottom: 10px;
                    max-width: 200px;
                }
                @media ($sm-579){
                    max-width: 55%;
                }
                &.providers{
                    max-width: 690px;
                    
                    @media ($sm-1679){
                        font-size: 60px;
                        line-height: 58px;
                        max-width: 520px;
                    }
                    @media ($sm-1481){
                        font-size: 50px;
                        line-height: 48px;
                        max-width: 440px;
                    }
                    @media ($sm-1281){
                        font-size: 40px;
                        line-height: 42px;
                        max-width: 390px;
                    }
                    @media ($sm-1199){
                        font-size: 38px;
                        line-height: 40px;
                        max-width: 330px;
                    }
                    @media ($sm-991){
                        font-size: 34px;
                        line-height: 32px;
                        max-width: 330px;
                    }
                    @media ($sm-767){
                        font-size: 26px;
                        line-height: 28px;
                        margin-bottom: 10px;
                        max-width: 230px;
                    }
                    @media ($sm-579){
                        max-width: 100%;
                    }
                }
                &.contact{
                    max-width: 490px;
                    
                    @media ($sm-1679){
                        font-size: 60px;
                        line-height: 58px;
                        max-width: 520px;
                    }
                    @media ($sm-1481){
                        font-size: 54px;
                        line-height: 62px;
                    }
                    @media ($sm-1281){
                        font-size: 44px;
                        line-height: 52px;
                        max-width: 390px;
                    }
                    @media ($sm-1199){
                        font-size: 38px;
                        line-height: 44px;
                        max-width: 330px;
                    }
                    @media ($sm-767){
                        font-size: 26px;
                        line-height: 30px;
                        margin-bottom: 10px;
                        max-width: 200px;
                    }
                    @media ($sm-579){
                        max-width: 55%;
                    }
                }
                &.schedule{
                    max-width: 380px;
                    
                    @media ($sm-1679){
                        font-size: 60px;
                        line-height: 58px;
                        max-width: 520px;
                    }
                    @media ($sm-1481){
                        font-size: 54px;
                        line-height: 62px;
                    }
                    @media ($sm-1281){
                        font-size: 44px;
                        line-height: 52px;
                        max-width: 390px;
                    }
                    @media ($sm-1199){
                        font-size: 38px;
                        line-height: 44px;
                        max-width: 330px;
                    }
                    @media ($sm-767){
                        font-size: 26px;
                        line-height: 30px;
                        margin-bottom: 10px;
                        max-width: 200px;
                    }
                    @media ($sm-579){
                        max-width: 55%;
                    }
                }
            }
            .session-content{
                color: var(--text);
                max-width: 461px;
                &.providers{
                    max-width: 461px;
                }
                &.contact{
                    max-width: 395px;
                }
            }
        }

        .pull-dwn-wrp {
            position: relative;
            margin-bottom: -59px;
            @media ($sm-991){
                margin-bottom: -40px;
            }
            @media ($sm-767){
                max-width: 100%;
                max-height: fit-content;
                margin-bottom: 20px;
            }

            img {
                max-width: 100%;
                max-height: 420px;
            }
        }
    }
    .banner-wrp-sub{
        display: flex;
    }
}

.transformation-sliders {
    width: 100%;
    padding: 140px 0 60px;
    @media ($sm-1679){
        padding: 120px 0 60px;
    }
    @media ($sm-767){
        padding: 40px 0 30px;
    }

    .slide-img-wrp {
        padding: 0 79px;
        @media ($sm-1679){
            padding: 0 60px;
        }
        @media ($sm-1481){
            padding: 0 50px;
        }
        @media ($sm-1281){
            padding: 0 40px;
        }
        @media ($sm-1199){
            padding: 0 30px;
        }
        @media ($sm-767){
            padding: 0 22px;
        }
        @media ($sm-579){
            padding: 0 30px;
        }
        img {
            max-width: 100%;
            margin: 0 auto;
            max-height: 364px;
            @media ($sm-579){
                margin: 0;
            }
        }
    }


    .slide-cont-wrp {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 67px;
        flex: 1;
        @media ($sm-1679){
            padding: 0 60px;
        }
        @media ($sm-1481){
            padding: 0 50px;
        }
        @media ($sm-1281){
            padding: 0 40px;
        }
        @media ($sm-1199){
            padding: 0 30px;
        }
        @media ($sm-767){
            margin-top: 20px;
            padding: 0 22px;
        }
        @media ($sm-579){
            padding: 0 30px;
            margin-top: 20px;
        }

        .session-content {
            max-width: 359px;
            color: var(--text);
        }
        .inner-title{
            margin-bottom: 16px;
        }
    }

    .slick-next {
        right: 0px;
        &::before {
            content: "\f138";
            color: var(--primary);
            font-family: "Fontawesome";
        }
    }

    .slick-prev {
        left: 0px;
        &::before {
            content: "\f137";
            color: var(--primary);
            font-family: "Fontawesome";
        }
    }
    .gallery-margin{
        margin-bottom: 66px;
    }
}
.warning-blk{
background-color: var(--light-secondary);
border-radius: 5px;
padding: 13px 20px;
display: flex;
align-items: center;
margin-top:10px;
max-width: 312px;
.warn-icon{
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary);
    border-radius: 50%;
    margin-right: 13px;
    color: var(--primary);
}
.warn-content{
    .title{
        font-family: $primary_font;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0.42px;
        color: var(--primary);
    }
    .desc{
        color: var(--primary);
        font-family: $primary_font;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.42px;
    }
}
}
.play-icon{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--secondary);
    border-radius: 50%;
    margin-right: 7px;
    color: var(--secondary);
    font-size: 15px;
}
.providers-info-wrp{
    display: flex;
    flex-wrap: wrap;
    gap: 62px;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 77px;
    margin-bottom: 77px;
    @media ($sm-1679) {
        gap:40px;
    }
    @media ($sm-1199) {
        gap:30px;
    }
    @media ($sm-1481) {
        padding-bottom: 50px;
        margin-bottom: 55px;
    }
    @media ($sm-767) {
        padding-bottom: 30px;
        margin-bottom: 50px;
    }
    @media ($sm-579) {
        gap:0px;
        flex-direction: column;;
    }
    .provider-pic{
        max-width: 243px;
        width: 100%;
        border-radius: 10px;
        flex: 0 0 auto;
        @media ($sm-991){
            max-width: 150px;
        }
        @media ($sm-579){
            margin-bottom: 20px;
        }
        img{
            max-width: 100%;
            max-height: 243px;
        }
    }
    .provider-deatil-wrp{
        max-width: 590px;
        width: 100%;
        flex: 0 0 auto;
        @media ($sm-991){
            width:calc(100% - 273px)
        }
        @media ($sm-579) {
            width: 100%;
        }
        .provider-highlight{
            margin-bottom: 20px;
            .inner-title{
                margin-bottom: 5px;
            }
            .provider-title{
                font-family: $primary_font;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 20px;
                color: var(--text);
                @media ($sm-579){
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .watch-video-link{
                display: flex;
                align-items: center;
                color: var(--secondary);
                text-transform: uppercase;
                font-family: $primary_font;
                cursor: pointer;
                @media ($sm-1199){
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
        .provider-bio{
            font-family: $primary_font;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: var(--text);
            margin-bottom: 40px;
            @media ($sm-1199){
                font-size: 14px;
                line-height: 22px;
            }
            p{
                font-size: inherit;
            }
        }
        .certification-title{
            font-family: $primary_font;
            font-size: 20px;
            font-weight: 700;
            line-height: 24px;
            color: var(--primary);
            margin-bottom: 40px;
            text-align: center;
            @media ($sm-1679){
                font-size: 16px;
                line-height: 24px;
            }
        }
        .affiliation-blk{
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            column-gap: 30px;
            margin-bottom: 60px;
            .blks{
                flex: 1;
                img{
                    max-width: 100%;
                }
            }
        }
    }
}

.review-slide-wrp{
    margin-top: 30px;
    .page-tt-slider{
        .tt-slider{
            background-color: var(--light-secondary);
            .text-desc{
                font-family: $primary_font;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                @media ($sm-767){
                    font-size: 14px;
                    line-height: 22px;
                }
            }
            .slide {
                .user{
                    font-family: $primary_font;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        .slick-dots{
            li{
                &.slick-active{
                    button{
                        &::before {
                            opacity: 1;
                        }
                    }
                }
                button{
                    &::before {
                        content: "";
                        width: 10px;
                        height: 10px;
                        background-color: #A2A2A2;
                        position: relative;
                        border-radius: 10px;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    .btn-arrows{
        color: #A1A1A1;
    }
}

.contact-wrapper{
    display: flex;
    flex-wrap: wrap;
    @media ($sm-767){
        flex-direction: column;
    }
    .map-holder{
        margin-right: 60px;
        flex: 1;
        max-width: 590px;
        width: 100%;
        img{
            max-width: 100%;
        }
        @media ($sm-1679){
            margin-right: 30px;
        }
        @media ($sm-767){
            flex: 0 0 100%;
            margin-right: 0;
        }
    }
    .address-holder{
        padding: 45px 60px;
        flex: 1;
        @media ($sm-1679){
            padding: 40px 30px;
        }
        @media ($sm-767){
            padding: 40px 0px;
        }
        .address-title{
            font-family: $primary_font;
            font-size: 14px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            color: var(--primary);
        }
        .location-info{
            color: #000;
            font-family: $primary_font;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            max-width: 316px;
            margin-bottom: 30px;
            @media ($sm-1679){
                font-size: 18px;
                line-height: 28px;
            }
            @media ($sm-1481){
                font-size: 16px;
                line-height: 26px;
            }
            @media ($sm-1199){
                font-size: 14px;
                line-height: 26px;
            }
            .direction-link{
                color: var(--secondary);
                display: block;
                text-decoration: none;
                font-family: $primary_font;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                @media ($sm-1679){
                    font-size: 18px;
                    line-height: 28px;
                }
                @media ($sm-1481){
                    font-size: 16px;
                    line-height: 26px;
                }
                @media ($sm-1199){
                    font-size: 14px;
                    line-height: 26px;
                }
            }
            .mail-link{
                color: var(--text);
                text-decoration: none;
                font-family: $primary_font;
                font-size: 20px;
                font-weight: 400;
                line-height: 30px;
                @media ($sm-1679){
                    font-size: 18px;
                    line-height: 28px;
                }
                @media ($sm-1481){
                    font-size: 16px;
                    line-height: 26px;
                }
                @media ($sm-1199){
                    font-size: 14px;
                    line-height: 26px;
                }
            }
        }
    }
}
.schedule-consult-wrp{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    .consultation-form{
        max-width: 488px;
        flex: 1;
        display: flex;
        flex-direction: column;
        .prefered-method{
            color: var(--Dark-Blue, #06518E);
            font-family: $primary_font;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            margin-bottom: 20px;
        }
        .form-control, .form-select{
            border: 1px solid var(--primary);
            border-radius: 5px;
            color: var(--primary);
            margin-bottom: 24px;
            font-family: $primary_font;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            height: 50px;
            &::placeholder{
                color: var(--primary);
            }
            @media ($sm-1481){
                height: 45px;
            }
            @media ($sm-1281){
                height: 40px;
            }
        }
        .option-wrp{
            margin-bottom: 40px;
            .form-check{
                margin-bottom: 13px;
            }
            label{
                color: var(--primary);
                font-family: $primary_font;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
            }
            .form-check-input{
                border-color: var(--primary);
                &:checked{
                    background-color: var(--primary);
                }
            }
        }
        .btn-secondary{
            align-self: center;
        }
    }
}