@import 'partials';
.help-wrp{
    padding: 85px 0;
    @media ($sm-767){
        padding: 40px 0;
    }
    .title-floater{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-width: 580px;
        margin: 0 auto 50px;
        text-align: center;
    }
    .service-list-wrp{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;

        .services-intro{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 0 0 calc(25% - 20px);
            @media ($sm-767){
                flex: 0 0 100%;
                flex-direction: row;
            }
            .thumb-hldr{
                border-radius :10px;
                margin-bottom:20px;
                img {
                    max-width:100%;
                    display:flex;
                }
                @media ($sm-767){
                    max-width: 110px;
                    margin-right: 20px;
                }
            }
            .intro-content{
                display: flex;
                flex-direction: column;
                width: 100%;
                .inner-arrow-list{
                    li{

                    }
                }
            }
        }
    }
}
.full-width-wrap{
    display: flex;
    @media ($sm-767){
        flex-direction: column;
    }
    .poster-blk{
        flex: 0 0 50%;
        // aspect-ratio: 2;
        @media ($sm-767){
            flex:0 0 100%;
        }
        video{
            object-fit: cover;
            height: 100%;
        }
    }
    .poster-content{
        display: flex;
        justify-content: center;
        align-items: center;
        .shell-wrp{
            padding-left: 121px;
            @media ($lg-1442){
                padding-right: calc((100vw - 1440px) / 2);
            }

            @media ($sm-1481){
                padding: 0 70px;
                padding-right: 90px;
            }
            @media ($sm-1199){
                padding: 40px 50px;
            }
            .link{
                color: var(--primary);
                text-decoration: none;
            }
        }
    }
    .content-area-lft{
        &.white{
            .inner-title{
                color: var(--white);
            }
            color: var(--white);
            .inner-title{
                @media ($sm-767){
                    color: var(--primary);
                }
            }
            .session-content{
                @media ($sm-767){
                    color: var(--text);
                }
            }
        }
        &.padding-y{
            padding: 81px 0;
            @media ($sm-767){
                padding: 40px 30px;
            }
        }
        .inner-title{
            margin-bottom: 20px;
            @media ($sm-767){
                color: var(--primary);
            }
        }
        .btn-white{
            margin-top: 10px;
            font-weight: 500;
        }
        @media ($sm-767){
            background-color: var(--white);
        }
    }
    .practice-wrp{
    display: flex;
    @media ($sm-767){
        flex-direction: column;
    }
    }
    .img-hldr{
        max-width: 695px;
        width: 100%;
        background: url(../img/EsterHeadshot.png) no-repeat center center;
        background-size: cover;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        @media ($sm-767){
            height: 300px;
            max-width: 436px;
            margin: 0 auto;
        }
    }

}
.certifications{
    padding: 52px 0;
    .accredit{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        color: #fff;
        flex-direction: column;
        height: 100%;
        max-width: 249px;
        text-align: center;
        margin: 0 auto;
        @media ($sm-767){
         margin-bottom: 30px;
         height: auto;
        }
        span{
            display: block;
        }
        .icon-wrp{
            margin-bottom: 13px;
            display: flex;
            flex: 1;
        }
        .sub-inner-title{
            flex: 1;
        }
    }
}
.our-process{
    padding: 70px 0;
    background-size: contain;
    background: rgb(204,235,246), url(/img/our-process-bg.png) no-repeat left bottom,;
    background: url(/img/our-process-bg.png), linear-gradient(90deg, rgba(204,235,246,1) 0%, rgba(238,248,252,1) 48.44%, rgba(255,255,255,1) 100%);
    background-position: left bottom;
    background-repeat: no-repeat;
    @media ($sm-1199){
        background-size: 60%;
    }
    @media ($sm-767){
        background: none;
        padding-top: 0px;
        padding-bottom: 0;
    }
    .title-pop{
        text-align: center;
        margin-bottom: 50px;
        .session-title{
            // max-width: 340px;
            margin: 0 auto 10px;
            span{
                display: block;
                font-family: $primary_font;
                font-size: 14px;
                line-height: 24px;
                color: var(--secondary);
                margin-bottom: 0px;
                font-weight: 700;
                letter-spacing: 0.42px;
            }
        }
    }
    .steps-wrp{
        display: flex;
        column-gap: 40px;
        @media ($sm-579){
            flex-direction: column;
            column-gap: 0;
        }
        .steps-blks{
            display: flex;
            flex-wrap: wrap;
            margin: 0px;
            padding-left: 0px;
            @media ($sm-991){
                column-gap: 20px;
            }
            @media ($sm-579){
                column-gap: 0px;
            }
            li{
                display: flex;
                position: relative;
                .count{
                    font-size: 90px;
                    color: var(--ternary);
                    font-weight: 325;
                    line-height: 58px;
                    font-family: $title_font;
                    margin-right: 16px;
                    @media ($sm-1679){
                        font-size: 70px;
                    }
                    @media ($sm-991){
                        font-size: 50px;
                    }
                }
                .title{
                    font-size: 16px;
                    color: var(--primary);
                    font-family: $primary_font;
                    font-weight: 700;
                    line-height: 24px;
                    margin-bottom: 5px;
                }
                .content-txt{
                    color: var(--text);
                    font-family: $primary_font;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }
    .mobile-only{
        display: none;
        max-height: 300px;
        justify-content: center;
        overflow: hidden;
        @media ($sm-767){
            display: flex;
            background: #E5F5FA -46.201px -20.301px / 131.64% 131.963% no-repeat;
            padding: 0px;
        }
        img{
            object-fit: contain;
            object-position: center;
            width: 100%;
        }
    }
    .process-content{
        @media ($sm-767){
            padding: 40px 30px;
        }
    }
}