@import 'partials';
.section-page-tt-slider{
    background: linear-gradient(90deg, var(--light) 0%, var(--light_trans) 100%);
    padding-top: 80px;
    padding-bottom: 80px;
    &.no-bg-slider{
        background: #E5F5FA !important;
        &::after{
            display: none;
        }
    }
    .title-col{
        margin-bottom: 30px;
        .heading
        {
            font-size: 60px;
            @media ($sm-1679)
            {
                font-size:48px;
            }
        }
        .subtitle{
            max-width: 765px;
            margin: auto;
            font-size: 20px;
            color: var(--text);
            @media ($sm-1679)
            {
                max-width: 710px;
                font-size: 18px;
            }
        }
    }
    &.home-tt-slider{
        position: relative;
        background: linear-gradient(90deg,var(--ternary) 0%, rgba(229, 245, 250, 0.80) 100%);
        .container {
            position: relative;
            z-index: 2;
        }
        &::after{
            content: '';
            inset: 0;
            background-image: url(../img/home-tts-bg.jpg);
            background-size: cover;
            position: absolute;
            z-index: 0;
            opacity: 0.15;
        }
    }

     
}
.page-tt-slider{
    max-width: 590px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    .tt-slider{
        width: 100%;
        padding: 30px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        min-height: 225px;  
        .text-desc
        {
            font-size: 16px;
        }
    }
    .btn-arrows{
        position: absolute;
        top: 50%;
        z-index: 3;
        background-color: transparent;
        border: none;
        transform: translateY(-50%);
        &.btn-prev{
            left: -50px;
        }
        &.btn-next{
            right: -50px;
        }
    }
    .slick-dots{
        bottom: -55px;
        li{
            button{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:before{
                content: '';
                width: 10px;
                height: 10px;
                background-color: var(--primary);
                position: relative;
                border-radius: 10px;
                opacity: 0.5;
                }
            }
            &.slick-active{
                button{
                    &:before{
                        opacity: 1;
                    }
                } 
            }
        } 
    }
    .slide{
        .user{
            color: var(--secondary);
            text-transform: uppercase;
            font-weight: 700;
            margin-bottom: 0;
        }
    }
}