@import 'partials';


.tab-section{
    position: relative;
    .tab-cover{
 


      margin-top: -40px;
      .tab-head::-webkit-scrollbar {
        width: 0px;
    }
        .tab-head{
              position: relative;
              z-index:1;
             overflow: hidden;
             scrollbar-color: #ddd #fff; /* Optional: customize scrollbar colors */
             height: 50px;
             @media (max-width:1150px)
             {
                height: auto;
             }
             @media (max-width:600px)
             {
                scrollbar-width: thin;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
              }
              .nav-tabs{
              border: 0;
              display: flex;
              justify-content: space-between;
              flex-wrap: nowrap;
              @media (max-width:1150px)
              {
                  flex-wrap:wrap;
              }
              @media (max-width:600px)
              {
                flex-wrap: nowrap;
              }
              .nav-item {
                flex: 0 0 auto;
              }
                li{
                  &:first-child .nav-link{
                    padding-left: 0;
                  }
                }
              }
              .nav-link{
                border: 0 !important;
                color: var(--secondary); 
                font-family: $primary_font;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0.42px;
                text-transform: uppercase;
                white-space: nowrap;
                @media (max-width:1150px)
                {
                  padding: 5px 6px;
                }
                @media (max-width:600px)
                {
                  padding: 5px 15px;
                }
              }
        }

      
    }

    .content-main{
    }
}
@media (max-width:991px) {

.tab-section .tab-cover {
  margin-top: -57px;
}
}


@media (max-width:767px) {

  .tab-section .tab-cover {
    margin-top: 15px;
  }
  }
